@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

.percentage-bar {
  display: flex;
  align-items: center;
}

.percentage-bar input[type="range"] {
  flex-grow: 1;
  margin-right: 10px;
}

.percentage-bar .percentage-value {
  font-weight: bold;
}

#calculate-btn {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}